.game-results {
    display: flex;
    padding: 30px 0;
    justify-content: center;
}

.table-results {
    font-size: 2rem;
    border-collapse: collapse;
    color: #ca525c;
}

.table-results__cell {
    border: 1px solid #afd755;
    padding: 15px 0;
    width: 300px;
    text-align: center;
    letter-spacing: 1px;
}

.table-results__row:first-child {
    background-color: rgba(175, 215, 85, .3);
}

.table__cell_head {
    color: #796284;
}