.game-results {
    display: flex;
    justify-content: center;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
}

.table-results {
    font-size: 1.7rem;
    border-collapse: collapse;
    color: #ca525c;
}

.table-results__cell {
    border: 1px solid #afd755;
    padding: 15px 30px 0;
    width: 400px;
}