html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 14px;
    background: url("img/bg/page-bg.png");
}

p {
    margin: 0;
}
