@media (max-width: 1023px) {
    .s-visible {
        display: block;
    }

    .s-hidden {
        display: none;
    }

    .container {
        grid-template-columns: 780px;
        grid-auto-rows: auto;
        grid-template-areas: "hidden-elements" "tags" "content";
        padding: 0;
        box-sizing: border-box;
    }

    .navbar {
        justify-content: space-between;
        padding: 0;
        align-items: center;
    }

    .articles {
        box-sizing: border-box;
        padding: 0 65px;
    }

    .information__item_about,
    .information__item_info {
        grid-area: hidden-elements;
        padding: 20px 20px 0;
        margin-bottom: 0;
    }

    .navbar__nav-item {
        padding: 17px 0;
    }

    .navbar__collapsed-btn_info {
        order: 10;
    }

    .information__item_tags {
        padding: 0 65px;
        margin-bottom: 0;
    }

    .tags__wrapper {
        justify-content: center;
    }

    .article__social {
        right: 0;
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
    }

    .article__social-item {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .visible {
        display: block;
    }

}

@media (max-width: 767px) {
    .xs-visible {
        display: block;
    }

    .xs-hidden {
        display: none;
    }

    .container {
        max-width: 767px;
        grid-template-columns: auto;
        grid-template-areas: "hidden-elements" "content";
        grid-gap: 20px;
    }

    .information__item_tags {
        grid-area: hidden-elements;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

    .main__heading {
        font-size: 1rem;
    }

    .navbar {
        position: relative;
        padding: 2px;
        justify-content: flex-start;
        border: none;
    }

    .navbar__nav-item {
        padding: 0;
    }

    .navbar__collapsed-btn {
        width: 30px;
        height: 30px;
        margin-right: 2px;
    }

    .navbar__collapsed-btn:last-child {
        margin-right: 0;
    }

    .navbar__collapsed-btn_info {
        order: 0;
    }

    .navbar__collapsed-btn_about {
        background-position: 10px;
    }

    .navbar__collapsed-btn_info {
        background-position: -37px;
    }

    .navbar__collapsed-btn_tags {
        background-position: -89px;
    }

    .navbar__collapsed-btn_nav {
        background-position: -147px 9px;
        margin-left: auto;
    }

    .navbar__collapsed-btn_nav:hover + .navbar__nav-list {
        display: block;
    }

    .navbar__nav-list:hover {
        display: block;
    }

    .navbar__nav-list {
        position: absolute;
        top: 34px;
        width: 100%;
        box-sizing: border-box;
        margin-left: -2px;
        padding: 10px 20px;
        z-index: 10;
    }

    .navbar__nav-item {
        margin-bottom: 10px;
    }

    .navbar__nav-item:last-child {
        margin-bottom: 0;
    }

    .navbar__nav-link {
        font-size: .8rem;
    }

    .articles {
        padding: 0 15px;
    }

    .article__heading {
        text-align: center;
        background-color: #f4f5f6;
        border-bottom: none;
        font-size: 1rem;
    }

    .article {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "img" "heading" "article-info" "text" "social"
    }

    .article__social {
        position: static;
        flex-direction: row;
        padding-top: 15px;
    }

    .article__social-item {
        margin-bottom: 0;
    }

    .visible {
        display: block;
        padding: 15px 10px 0;
    }
}



