@font-face {
    font-family: 'Arial';
    src: url('../font/arial.ttf');
}

@font-face {
    font-family: 'ArialNarrow';
    src: url('../font/ArialNarrow.ttf');
}

@font-face {
    font-family: 'Cantarell';
    src: url('../font/Cantarell-Regular.ttf');
}

@font-face {
    font-family: 'TrendSans-One';
    src: url('../font/TrendSans-One.otf');
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: #69747c;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn {
    padding: 0;
    border: none;
    cursor: pointer;
}

h1, h2, h3, p {
    margin: 0;
}

/*header*/
.header {
    grid-area: header;
    padding: 10px 0;
}

.main__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'TrendSans-One', sans-serif;
    text-transform: uppercase;
    color: #6794b7;
}

/*navbar*/
.navbar {
    grid-area: navbar;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 3px solid #c6defa;
    background-color: #6794b7;
}

.navbar__nav-list {
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #6794b7;
}

.navbar__nav-link {
    font-family: 'ArialNarrow', sans-serif;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
}

.navbar__nav-link:not(:hover) {
    text-decoration: none;
}

.navbar__collapsed-btn {
    width: 44px;
    height: 55px;
    background: url("../img/icons/icons__sprite.png") #7ca7d9 no-repeat center;
}

.navbar__collapsed-btn_inverted {
    background-color: transparent;
}

.navbar__collapsed-btn_about {
    background-position: 15px;
}

.navbar__collapsed-btn_info {
    background-position: -29px;
}

.navbar__collapsed-btn_tags {
    background-position: -50px;
}

.navbar__collapsed-btn_nav {
    background-position: -50px;
}

/*section*/
.container {
    display: grid;
    grid-template-columns: 640px 255px;
    grid-auto-rows: 200px;
    grid-template-areas: "content about" "content info" "content tags";
    grid-gap: 30px;
    padding-top: 40px;
    justify-content: center;
    margin-bottom: 30px;
}

.articles {
    grid-area: content;
}

.article {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img img" "heading heading" "article-info social" "text text";
    margin-bottom: 55px;
}

.article__img {
    grid-area: img;
    width: 100%;
}

.article__heading {
    grid-area: heading;
    padding: 15px 0;
    border-bottom: 1px solid #e2e5e8;
}

.article__info {
    grid-area: article-info;
    display: flex;
    padding: 15px 5px;
}

.article__info-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.article__info-item:last-child {
    margin-right: 0;
}

.article__icon {
    margin-right: 10px;
}

.article__text {
    grid-area: text;
    padding-top: 15px;
    text-align: justify;
    border-top: 1px solid #e2e5e8;
    line-height: 1.4;
}

.article__social {
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article__social-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 24px;
    width: 50px;
    padding-right: 8px;
    margin-right: 10px;
    color: white;
    background: url("../img/icons/icons__social_320.png");
}

.article__social-item:hover {
    text-decoration: underline;
}

.article__social-item_fb {
    background-position: -1px;
}

.article__social-item_google {
    width: 44px;
    background-position: -63px;
}

.article__social-item_twitter {
    background-position: -120px;
}

.article__social-item_vk {
    background-position: -183px;
}

.article__social-item_yandex {
    width: 42px;
    background-position: -246px;
}

.spinner {
    text-align: center;
}

/*sidebar*/
.sidebar {
    width: 255px;
}

.information__item {
    text-align: justify;
    margin-bottom: 20px;
}

.information__item_about {
    grid-area: about;
}

.information__item_info {
    grid-area: info;
}

.information__item_tags {
    grid-area: tags;
}


.information__item-heading-wrapper {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #6794b7;
    border-bottom: 3px solid #6794b7;
}

.information__icon {
    margin-right: 5px;
    width: 30px;
    height: 24px;
    background: url("../img/icons/icons__sprite.png") #6794b7 no-repeat;
}

.information__icon_about {
    background-position: -244px 5px;
}

.information__icon_info {

    background-position: -198px 5px;
}

/*tags*/
.tags {
}

.tags__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.tag__item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.tag__item_square {
    padding: 3px 15px 3px 10px;
    background-color: #6794b7;
}

.tag__item_circle {
    position: relative;
    left: -18px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}

.tag__item_triangle {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #6794b7;
}

.tag__link {
    font-family: "Arial", sans-serif;
    color: white;
}

.tag__link:not(:hover) {
    text-decoration: none;
}

.s-visible,
.xs-visible {
    display: none;
}