@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat');

html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 14px;
    background: url("../img/page-bg.png");
}

p {
    margin: 0;
}

.btn, .play__options-timer, .registration-form__input {
    outline: 0;
    cursor: pointer;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    opacity: .8;
}

.btn_outline {
    opacity: 1;
    background-color: transparent;
    border: 1px solid #a794b0;
    color: #a794b0;
}

.btn:hover, .btn:focus, .play__options-timer:hover {
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.visible {
    animation-name: show-block;
    animation-duration: 2s;
    animation-direction: alternate;
    transition-timing-function: ease;
}

@keyframes show-block {
    0% {
        left: -100px;
    }
    100% {
        left: -200px
    }
}

/*index*/
.heading {
    font-weight: 400;
    font-size: 3rem;
    margin: 0 0 25px;
    color: #9bc390;
}

.heading_inverted {
    color: #ffffff;
}

.main-content {
    display: grid;
    grid-template-columns: 420px auto;
    padding: 0 100px;
    height: 100vh;

}

.about-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    background-color: #9cc491;
    color: #ffffff;
}

.description {
    margin-bottom: 80px;
}

.description__heading {
    font-size: 4rem;
}

.description__text {
    margin: 0 0 10px;
}

.description__text, .rules__list, .copyright {
    font-family: 'Montserrat', sans-serif;
}

.rules__list {
    margin: 0;
    padding-left: 15px;
}

.rules__item {
    margin-bottom: 15px;
}

.rules__item:last-child {
    margin-bottom: 0;
}

.game-options {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.card-shirts {
    margin-bottom: 80px;
}

.card-shirts__wrapper {
    display: flex;
    justify-content: center;
}

.shirt {
    margin-right: 45px;
    width: 130px;
    height: 130px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(78, 87, 87, 0.5);
    cursor: pointer;
}

.shirt:hover {
    box-shadow: 0 3px 15px rgba(78, 87, 87, .7);
}

.shirt:last-child {
    margin-right: 0;
}

.shirt_selected,
.shirt_selected:hover {
    box-shadow: 0 3px 25px #796284;
}

.shirt_geometric {
    background-image: url("../img/cards-bg/1.png");
}

.shirt_dotted {
    background-image: url("../img/cards-bg/2.png");
}

.shirt_tissue {
    background-image: url("../img/cards-bg/3.png");
}

.difficulty {
    margin-bottom: 80px;
}

.difficulty-btn-group {
    display: flex;
    justify-content: center;
}

.difficulty__btn {
    padding: 5px 25px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 2rem;
}

.difficulty__btn:hover {
    background-color: rgba(167, 148, 176, .5);
    color: #ffffff;
}

.difficulty__btn_selected,
.difficulty__btn_selected:hover {
    background-color: #a794b0;
    color: #ffffff;
}

.difficulty__btn:last-child {
    margin-right: 0;
}

.start-game__btn {
    background-color: #e46e75;
    color: white;
    font-size: 3rem;
    width: 280px;
    height: 90px;
}

/*game-field*/
.play-field {
    height: 100%;
}

.cards {
    display: flex;
    max-width: 750px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.card__item {
    margin: 15px;
    perspective: 1000px;
}

.card__img {
    width: 120px;
    height: 120px;
}

.flipped {
    transform: rotateY(180deg);
}

.card__item,
.card__front,
.card__back {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.card__flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.card__front,
.card__back {
    backface-visibility: hidden;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 15px rgba(78, 87, 87, .5);
}

.card__front:hover,
.card__back:hover {
    box-shadow: 0 3px 15px rgba(78, 87, 87, .7);
}

.card__back {
    background-color: #ffffff;
    z-index: 5;
    transform: rotateY(180deg);
}

.card__back-img {
    width: 120px;
    height: 120px;
}

.card__front {
    background-color: #f0f0f0;
}

.play__options {
    position: absolute;
    top: 30px;
    right: 30px;
}

.play__options-btn,
.play__options-timer {
    display: block;
    margin-bottom: 15px;
    width: 135px;
    height: 45px;
    background: #9CC491;
    font-size: 1.5rem;
}

.play__options-timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play__options-btn_new-game {
    background-color: #e46e75;
}

.copyright {
    position: absolute;
    bottom: 10px;
    right: 35px;
    color: #8bb080;
}

.copyright__link {
    color: #e46e75;
}

.copyright__link:not(:hover) {
    text-decoration: none;
}

/*registration form*/
.registration-form__fieldset {
    border: none;
    margin-bottom: 80px;
}

.registration-form__item {
    margin-right: 30px;
    font-size: 1.5rem;
    color: #a794b0;
}

.registration-form__item:last-child {
    margin-right: 0;
}

.registration-form__input {
    padding: 5px 10px;
    margin-left: 10px;
    width: 170px;
    height: 30px;
    font-size: 1.5rem;
    border: 1px solid #8bb080;
    border-radius: 5px;
    background-color: transparent;
    opacity: 1;
    font-family: 'Amatic SC', cursive;
    color: #a794b0;
}

/*end of game*/
.end-of-game {
    text-align: center;
    font-size: 3rem;
    color: #e46e75;
}

.end-of-game__text {
    margin-bottom: 15px;
    font-size: 4rem;
    color: #e46e75;
}

.end-of-game__result {
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: #9bc390;
}

.end-of-game__result_time {
    color: #a794b0;
}

/*results table*/
.game-results {
    margin: 100px auto;
    font-size: 2rem;
    color: #a794b0;
    border-collapse: collapse;
}

.game-results__col {
    width: 140px;
    padding: 10px 20px;
    border-left: 1px solid #e46e75;
    border-right: 1px solid #e46e75;
    text-align: center;
}

.game-results__col:first-child {
    border-left: none;
}

.game-results__col:last-child {
    border-right: none;
}

.game-results__row {
    border-bottom: 1px solid #e46e75;
}
