.monster {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.monster__body {
    position: relative;
    top: 5px;
    height: 130px;
}

.monster__legs {
    height: 40px;
}

.monster__weapon {
    position: absolute;
    bottom: 40px;
    right: -40px;
    height: 70px;
}